@import "../../../styles/variables.scss";

.input-wrapper {
  color: $text-color;
  font-size: 16px;
  text-align: start;

  label {
    display: block;
    padding-bottom: 8px;
  }

  .input-content {
    display: flex;
    width: 100%;
    position: relative;

    input {
      background-color: $grey-secondary-bg;
      padding: 14px 0 14px 20px;
      width: 100%;
      border-radius: 8px;
    }

    .icon {
      position: absolute;
      display: flex;
      padding: 12px;
      background-color: $primary-color;
      border-radius: 8px;
      right: 0;
    }
  }
}
