<main>
  <section class="login-section">
    <img src="/svg/logo.svg" alt="Logo" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <button
      class="btn-primary"
      (click)="submit()"
      [disabled]="disablePrimaryBtn"
    >
      {{ primaryBtnText }}
    </button>

    <div class="divider">
      <div></div>
      <span>or</span>
      <div></div>
    </div>

    <button class="btn-secondary" (click)="navigate()">
      {{ secondaryBtnText }}
    </button>
  </section>

  <section class="main-section">
    <h1>You should, MoveIt!</h1>
    <img src="/svg/main-illustration.svg" alt="main" />
  </section>
</main>
