@import "../../../styles/variables.scss";

form {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-bottom: 34px;
}

span {
  font-size: 14px;
  text-decoration: underline;
  color: $secondary-color;
  text-align: end;
  margin-top: -16px;
}
